
body{
    text-align: center;
    background-color:black
}
#content{
    max-width: 1600;
    margin: 0 auto;
}
nav a{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#backround{
    height: 725px;
}

header{
    background-color: black;
}
nav a:hover{
    background-color: blue;
}
.book{
    background-color:cadetblue;
}
.join{
    background-color: rgb(17, 14, 14);
}
.book:hover{
    background-color: rgb(12, 11, 13);
}
.join:hover{
    background-color:rgb(14, 13, 13) ;
}
#background{
    background-color: black;
}
.msg{
    background-color: white;
}
footer{
    background-color: rgb(21, 20, 18);
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: white;
}
.home-title{
    color: white;
}
h4{
    color: white;
}
.book{
    color: white;
} 
.join{
    color: white;
}
.book:hover{
    color:white;
}
.join:hover{
    color:white;
}
.msg h2{
    color: white;
}
h2{
    color:white;
}
.msg p{
    color: white;
}
footer h3{
    color: white;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
}
.icon {
    width: 80px;
}
#hero-img{
    width: 100%;
}
.logo{
    width: 80px;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }
  body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}